/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2019, 2:12:03 PM
    Author     : Emma
*/
#confirm
{
  background-color: #2f89fc;

}
a.button4:hover{
 border-color: rgba(255,255,255,1);
}

.input-group-prepend span{
width: 180px;
background-color: #4e73df;
color: black;
border:0 !important;
}


input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}


